@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.map-container-style {
  height: 500px; /* Define the height for the map */
  width: 100%; /* Ensure it takes full width of its container */
  border-radius: 0.5rem; /* Optional: adds rounded corners to match other elements */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); /* Optional: adds shadow */
}
